/* ROOT */
:root{

    /* colors */    
    --yalow: #fede67;
    --bg_color: linear-gradient(to right, #2b4134 , #395c46);
    --green: #1c2d23;
    --mix_green: #273e34;
    --top_level_green: #395c46;
    --gray: #c5c2c9;
    --mix_gray: #191919;
    --mix_white1: #e9e9e9;
    --mix_white2: #eeedeb;
    --black: #070707;

    /* border */
    --F_border: 1px solid var(--green);
    --S_border: 1px solid rgba(152, 151, 151, 0.31);

    /* border redus */
    --_5_px: 5px;
    --_8_px: 8px;
    --_20_px: 20px;
    --_50_px: 50px;

    /* SHADOW */
    --frist_S: 0px 3px 12px -5px rgba(0, 0, 0, 0.862);
}

/* FONTS */
@font-face {
    font-family: Chennai;
    src: url(../fonts/Chennai\ Regular.otf);
  }




/*============= GENERAL =============*/
body{
    font-family: Chennai;
}


/*============= NAVIGATION =============*/
.navbar{
    background-image: var(--bg_color);
    width: 100%;
}
.navbar-toggler,
.navbar-toggler:focus{
    outline: none;
    box-shadow: none;
    border: none; 
}
.navbar-toggler span{
    font-size: 2rem;
    color: var(--yalow);
}
.navbar .nav-link{
    font-weight: 500;
    font-size: .9rem;
    color: var(--mix_white2);
    opacity: .5;
}
.navbar .nav-link.active,
.navbar .nav-link:hover{
    font-weight: 680;
    color: var(--mix_white2);
    opacity: .8;
}
#fer-bar ion-icon{
    color: var(--green);
    font-size: 1rem;
    padding: 4px;
    cursor: pointer;
    border: var(--F_border);
    border-radius: var(--_50_px);
}
#fer-bar ion-icon.active,
#fer-bar ion-icon:hover{
    background-color: var(--yalow);
    border: var(--S_border);
}
/* #carouselExampleControls{ */
    /* background-image: url(../images/favicon.png);
    background-repeat: no-repeat;
    background-position: 50%; */
/* } */


/*============= HOME =============*/
.home{
    background-image: var(--bg_color);
}

.home h1,
.home h2,
.home h4
{
    color: var(--mix_white2);
}

.home h2{
    font-size: 3rem;
    opacity: .6;
}
.home h1{
    font-size: 6rem;
}
.home h4{
    font-size: 1rem;
    opacity: .5;
    letter-spacing: 1px;
}
.home a{
    padding: 7px 15px;
    font-size: .7rem;
    font-weight: 500;
    text-decoration: none;
    color: var(--black);
    border-radius: var(--_8_px);
    background: var(--yalow);
}
.home button ion-icon{
    font-size: 2rem;
    color: var(--mix_white2);
}


/*============= prand =============*/
.prand{
    background: var(--mix_gray);
}

/*============= collection =============*/
.collection{
    background: var(--mix_white1);
}
.collection h1{
    color: var(--green);
}

.sho_card{
    background: var(--gray);
    border-radius: var(--_20_px);
}
.sho_card .card{
    background: var(--gray)!important;
    border: 0!important;
    position: relative;
    overflow: hidden;
}
.sho_card .card img{
    object-fit: cover;
    transition: 0.5S ease;
}
.sho_card .card img:hover{
    transform: scale(1.1);
}
.sho_card .card  .card-title{
    font-size: 1.2rem;
}
.sho_card .card .card-text .btn_sty{
    position: absolute;
    right: 0;
    z-index: 10;
    height: 80%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
}
.sho_card .card .card-text a{
    padding: 7px 15px;
    font-size: .7rem;
    font-weight: 500;
    text-decoration: none;
    color: var(--black);
    border-radius: var(--_8_px);
    background: var(--yalow);
}


/*============= sellers =============*/
.sellers .card{
    border: 0!important;
}
.sellers .card img{
    border-radius: var(--_20_px);
    background: var(--mix_white2);
}
.sellers .card a{
    padding: 5px 10px;
    font-size: .9rem;
    font-weight: 500;
    text-decoration: none;
    color: var(--black);
    border-radius: var(--_8_px);
    background: var(--yalow);
}
.sellers .card .card-title{
    font-weight: 500;
    text-transform: capitalize;
}

/*============= Jumbotron =============*/
.jumbotron{
    background: var(--mix_gray)!important;
}
.jumbotron h4{
    color: var(--mix_white2);
}
.jumbotron a{
    padding: 7px 15px;
    font-size: 1.2rem;
    font-weight: 500;
    text-decoration: none;
    color: var(--black);
    border-radius: var(--_8_px);
    background: var(--yalow);
}

/*============= MEDIA QUERIES =============*/

 /* Media Query for Mobile Devices */
 @media (max-width: 480px) {

    /* navbar */
    .navbar .navbar-nav{
        border-radius: var(--_5_px);
    }
    .navbar .nav-link.active,
    .navbar .nav-link:hover,
    .navbar .nav-link{
        border-radius: var(--_5_px);
    }
}

/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {

    /* navbar */
    .navbar .navbar-nav{
        border-radius: var(--_5_px);
    }
    .navbar .nav-link.active,
    .navbar .nav-link:hover,
    .navbar .nav-link{
        border-radius: var(--_5_px);
    }
}

/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px) {

    /* navbar */
    .navbar .navbar-nav{
        border-radius: var(--_5_px);
    }
    .navbar .nav-link.active,
    .navbar .nav-link:hover,
    .navbar .nav-link{
        border-radius: var(--_5_px);
    }
    .s_n ion-icon{
        font-size: 2.4rem;
    }
    .s_n p{
        font-size: 1.1rem;
    }
    .s_n ul{
        margin-top: 4.1%;
        margin-right: 40px;
    }
}

